services:
  app:
    build:
      context: .
      dockerfile: dockerfile
    ports:
      - 8000:8000
    volumes:
      - ./app:/app
  db:
    image: mariadb
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: example
    volumes:
      - ta23adbdata:/var/lib/mysql
    ports:
      - 33061:3306

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

volumes:
  ta23adbdata: